<!--<nav class="navbar navbar-expand-lg bg-primary">-->
<!--  <div class="container-fluid">-->
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <a class="navbar-brand" href="#">Navbar</a>-->
<!--    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">-->
<!--      <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Link</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link disabled">Disabled</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <form class="d-flex" role="search">-->
<!--        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->




<!-- list user-->

<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <h4>Usuarios</h4>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-primary" [routerLink]="['/auth/register']">Novo Usuario</button>
<!--      <button type="button" class="btn btn-secondary" (click)="onRefresh()">Atualizar</button>-->
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover" *ngIf="(usuarios$ | async) as usuarios; else loading" >
      <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Email</th>
        <th>CEP</th>
        <th>Rua</th>
        <th>Cidade</th>
        <th>Bairro</th>
        <th>UF</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.name }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.cep }}</td>
        <td>{{ usuario.street }}</td>
        <td>{{ usuario.district }}</td>
        <td>{{ usuario.locality }}</td>
        <td>{{ usuario.UF }}</td>


        <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit()">
                Atualizar
              </button>

              <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete()">
                Remover
              </button>
            </span>
        </td>
      </tr>
      </tbody>
    </table>

    <ng-template #loading>
      <span>Carregando Usuarios...</span>
    </ng-template>

    <!--ng-template #loadingError>
      <div *ngIf="error$ | async; else loading" >
        Erro ao carregar usuarios. Tente novamente mais tarde.
      </div>
      <ng-template #loading>
          <span>Carregando Usuarios...</span>
      </ng-template>
    </ng-template -->
  </div>
</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja remover esse usuario?</p>
<!--    <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>-->
<!--    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Nao</button>-->
  </div>
</ng-template>



<!--<button type="button" class="btn btn-primary" (click)="createUser()">Criar</button>-->
